.card {
    width: 70%;
    min-width: 300px;
    max-width: 650px;
    background: rgb(255, 0, 0);
    margin: 10px;
    /* cursor: pointer; */
    min-height: 200px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__header{
    display: flex;
}
.card h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
.displayNone{
    display: none;
}
.card-text p {
    font-size: 18px;
    padding: 10px 30px;
    text-align: justify;
}

.pp {
    padding: 0 10px;
}

.pp img {

    border-radius: 50%;
    background-color: #fff;
    height: 40px;
    width: 40px;
}
.card__header__settings{
    background-color: rgb(255, 230, 0);
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.editButton{
    cursor: pointer;
    width: 30px;

}
.closeButton{
    cursor: pointer;
    width: 30px;
}
.card-img {
    width: 100%;
    object-fit: cover;
}

.card-img img {
    width: 100%;
}

.likeComment {
    display: flex;
    padding: 5px;
    height: 50px;
    background-color: green;
}

.likes {
    width: 50%;
}

.comments {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    border-radius: 0.2rem;
    cursor: pointer;

}



.card__header__pp_name {
    display: flex;
    width: 85%;
}

.name-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeStamp {
    padding-top: 2px;
    font-size: 12px;
    font-style: italic;
}


@media screen and (max-width: 500px) {
    .card {
        width: 100%;
    }
}