@import '../../variables.css';

.card {
    width: 70%;
    min-width: 300px;
    max-width: 650px;
    margin: 10px;
    min-height: 200px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color2);
    border: var(--color1) solid 3px;
    border-radius: 1rem;
    overflow: hidden;

}
.cardHeader{
    display: flex;
}
.card h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
.displayNone{
    display: none;
}
.cardText {
    padding: 20px 35px;
}
.message {
    font-size: 18px;
    text-align: justify;
}


.pp {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color3);

    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.letters{
    color: white;
    font-weight: bold;
    
}

/* .pp img {

    border-radius: 50%;
    background-color: #fff;
    height: 40px;
    width: 40px;
} */
.cardHeaderSettings{
    /* background-color: rgb(255, 230, 0); */
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.editButton{
    cursor: pointer;
    width: 30px;

}
.closeButton{
    cursor: pointer;
    width: 30px;
}
.cardImg {
    width: 100%;
}

.img {
    width: 100%;
}

.likeComment {
    display: flex;
    padding: 5px;
    height: 50px;
}

.likes {
    width: 100%;
}



.cardHeaderPpName {
    display: flex;
    width: 85%;
    padding-left: 15px;
padding-top: 10px;
}

.nameTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeStamp {
    padding-top: 2px;
    font-size: 12px;
    font-style: italic;
}


@media screen and (max-width: 500px) {
    .card {
        width: 100%;
    }
}