.form {
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea {
    font-family: lato;
    width: 100%;
    height: 100px;
    resize: none;
    overflow-y: visible;
    border-radius: 10px;
    border: 2px solid var(--color3);
    padding: 5px;
}

.title,
.textarea,
.inputFile,
.buttons {
    margin: 10px 0;
}

.inputFile {
    max-width: 70%;
}

.submitButton,
.cancelButton {
    margin: 0 5px;
}