.form {
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea {
    font-family: lato;
    width: 100%;
    resize: none;
    overflow-y: visible;
    border-radius: 10px;
    border: 2px solid var(--color3);
    padding: 5px;
}

.title,
.textarea,
.inputFile,
.buttons {
    margin: 10px 0;
}

.submitButton,
.cancelButton {
    margin: 0 5px;
    /* padding: 5px;
    border: var(--color3) 1px solid;
    border-radius: 0.5rem;
    background-color: #fff;
    cursor: pointer; */
}