.likeButton {
    /* width: 30px; */
    height: 70%;
    cursor: pointer;
    padding: 0 5px 0 10px;
}

.likeArea {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}