.likeButton {
    width: 40px;
    cursor: pointer;
    padding: 0 5px 0 10px;
}

.likeArea {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
}