.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color2);
    border: var(--color1) solid 3px;
    border-radius: 1rem;
    width: 300px;
    margin: 40px auto 10px auto;
    padding: 20px 0;
}

.input {
    padding: 10px;
    margin: 10px 0;
    min-width: 200px;
    border-radius: 10px;
    border: none;
}
.loginError,.signupError{
    color: red;
    font-size: 12px;
}
.loginError{
    text-align: center;
}

.switchPage {
    text-align: center;
}

.logo {
    width: 300px;
    display: block;
    margin: 20px auto 0 auto;
}

.button {
    margin-top: 10px;
   }
