*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  margin: 0;
  font-family: 'lato', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 6px 10px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color3);
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 17px;
}

button:hover {
  opacity: 0.85;
  transition: all ease-in-out 0.15s;
}