/* Primaire: #FD2D01
Secondaire:#FFD7D7
Tertiaire: #4E5166 */

/* .primaryColor{
    color: #FD2D01;
  }
  */
:root {
    /* *********** colors *********** */

    --color1: #FD2D01;
    --color2:#FFD7D7;
    --color3:#4E5166;
}